<footer>
  <div class="div-footer">

    <div class="links-column">
      <h4>Enlaces</h4>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/paises">Ver Países</a></li>
        <li><a href="/formulario/agregar">Agregar País</a></li>
        <li><a href="/acerca">Acerca de</a></li>
      </ul>
    </div>

    <div>
      <p>Proyecto Final de Desarrollo Web</p>
      <p>Creado por: <strong>Gonzalo Santillan</strong></p>
    </div>
  </div>

  <p>&copy; <%= new Date().getFullYear() %> Todos los derechos reservados.</p>
</footer>