<footer>
  <div class="div-footer">
    <ul>
      Enlaces
      <li><a href="/">Dashboard</a></li>
      <li><a href="/paises">Dashboard</a></li>
      <li><a href="/paises/agregar">Agregar País</a></li>
    </ul>
    <div>
      <p>Proyecto Final de Desarrollo Web</p>
      <p>Creado por: Gonzalo Santillan</p>
    </div>
  </div>
  <p>&copy; <%= new Date().getFullYear() %> Todos los derechos reservados.</p>
</footer>