<header>
  <a href="/"><img class="logo" src="/images/logo.png" alt=""></a>
  <ul class="ul-nav">
    <li class="li-nav"><a class="a-nav" href="/">Inicio</a></li>
    <li class="li-nav"><a class="a-nav" href="/paises">Paises</a></li>
    <li class="li-nav"><a class="a-nav" href="/formulario/agregar">Agregar</a></li>
  </ul>
</header>