<div>
    <div>
        <h1 class="h1-index">Bienvenido al Dashboard de América Hispana</h1>
        <p>Una herramienta construida con Node.js, Express y MongoDB. Su propósito es centralizar y gestionar la información vital de los países de América cuyo idioma oficial incluye el español.</p>
    </div>

    <div>
        <h2>Nuestra Misión</h2>
        <p>Esta aplicación consume y procesa datos geográficos y demográficos directamente desde una API externa (restcountries.com). Tras un riguroso proceso de filtrado y limpieza, solo los datos esenciales son almacenados en MongoDB, garantizando información consistente y de alta calidad.</p>
    </div>

    <div>
        <h2>Empieza a Explorar</h2>
        <p>Accede al Dashboard para consultar, analizar y administrar la información de los países. Podrás ver totales demográficos, realizar operaciones CRUD (Crear, Leer, Actualizar, Eliminar) y mucho más.</p>

        <a href="/dashboard">Ir al Dashboard</a>
    </div>

    <div>
        <p><strong>Tecnologías Clave:</strong> Node.js, Express, EJS, MongoDB.</p>
    </div>
</div>