* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 40px;
  border-bottom: 5px solid blue;
  border-top: 5px solid blue;
}

.logo {
  width: 80px;
  height: 80px;
}

.a-nav {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.li-nav {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
}

.ul-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #a9dffc;
  border: 1px solid rgb(0, 0, 0);
}

thead{
  background-color: black;
  color: white;
}

th,
td {
  padding: 5px;
}

tbody>:nth-child(odd) {
  background-color: rgb(211, 240, 253);
}

h1,
h2,
p {
  margin-bottom: 10px;
}

h2 {
  color: rgb(34, 34, 34);
}

footer {
  background-color: black;
  color: white;
  border-top: 7px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: rgb(149, 198, 255);
  list-style: none;
  text-decoration: none;
}

footer li {
  list-style: none;
}

.div-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}